fastapi==0.115.0
uvicorn==0.30.1
searoute==1.4.3
geojson==3.1.0
pandas==2.3.3
copernicusmarine==2.2.4
geographiclib==2.0
python-dotenv==1.0.0
numpy>=1.24.0
xarray>=2023.0.0
shapely>=2.0.0
global-land-mask>=0.5.0
